#
# If you are using WebStorm, you may need to restart WebStorm (not only the application)
# to re-read new values
#
# https://smartapp-studio.sberdevices.ru/ -> Профиль -> Настройки профиля -> Auth Token
#

# Токен для TravelPayouts API (https://www.travelpayouts.com/developers/api)
REACT_APP_TRAVELPAYOUTS_TOKEN=""
REACT_APP_TOKEN=""
REACT_APP_SMARTAPP=""
#BROWSER=none
#GENERATE_SOURCEMAP=false
